//           ¬ post           /
.blog-post.blog-post-inner
  article.main-post
    header
      h2 A premier luxury weight loss retreat and fitness bootcamp at Gossip Spa Boutique

    section.main-post__content
      p Certain but she but shyness why cottage. Gay the put instrument sir entreaties affronting. Pretended exquisite see cordially the you. Weeks quiet do vexed or whose. Motionless if no to affronting imprudence no precaution. My indulged as disposal strongly attended. Parlors men express had private village man. #[a.link(href="#") Discovery moonlight recommend all one not.] Indulged to answered prospect it bachelor is he bringing shutters. Pronounce forfeited mr direction oh he dashwoods ye unwilling.

      p Difficulty on insensible reasonable in. From as went he they. Preference themselves me as thoroughly partiality considered on in estimating. Middletons acceptance discovered projecting so is so or. #[strong In or attachment inquietude remarkably comparison at an.] Is surrounded prosperous stimulated am me discretion expression. But truth being state can she china widow. Occasional preference fat remarkably now projecting uncommonly dissimilar. Sentiments projection particular companions interested do at my delightful.

      .list-type
        span Here goes some bullet list example:
        ul
          li
            | list bullet 1;
          li
            | list bullet 2;
          li
            | list bullet 3;
          li
            | list bullet 4;

      p In by an appetite no humoured returned informed. Possession so comparison inquietude he he conviction no decisively. Letter of on become he tended active enable to. Vicinity relation sensible sociable surprise screened no up as.

      blockquote
        p Text (which is intended to be placed in a “blockquote” HTML5 tag) has also Georgia font but it’s just a little bit big bigger than a paragraph text and it has a cute italic style that represents an author’s direct speech.
        footer
          cite(title='Source Title') John Doe, author of that phrase

      p
        a.link(href="#") Terminated principles
        |  sentiments of no pianoforte if projection impossible. Horses pulled nature favour number yet highly his has old. Contrasted literature #[mark excellence he admiration impression insipidity so.] Scale ought who terms after own quick since. Servants margaret husbands to screened in throwing. Imprudence oh an collecting partiality. Admiration gay difficulty unaffected how.

      h3 This is an awesome third level heading

      p Advantage old had otherwise sincerity dependent additions. It in adapted natural hastily is justice. Six draw you him full not mean evil. Prepare garrets it expense windows shewing do an. She projection advantages resolution son indulgence. Part sure on no long life am at ever. In songs above he as drawn to. Gay was outlived peculiar rendered led six.


    #gallerySection.post-gallery
      .post-gallery__row.cf
        a.post-gallery__item.gallery-item-link(href=path + 'images/upload/full/image960x640.jpg')
          figure.post-gallery__img-wrap
            img(src=path + 'images/upload/gallery-blog/item_1.jpg', alt="")
            .overlay
        a.post-gallery__item.gallery-item-link(href=path + 'images/upload/full/image960x640.jpg')
          figure.post-gallery__img-wrap
            img(src=path + 'images/upload/gallery-blog/item_2.jpg', alt="")
            .overlay
        a.post-gallery__item.gallery-item-link(href=path + 'images/upload/full/image960x640.jpg')
          figure.post-gallery__img-wrap
            img(src=path + 'images/upload/gallery-blog/item_3.jpg', alt="")
            .overlay
        a.post-gallery__item.gallery-item-link(href=path + 'images/upload/full/image960x640.jpg')
          figure.post-gallery__img-wrap
            img(src=path + 'images/upload/gallery-blog/item_4.jpg', alt="")
            .overlay

      p.post-gallery__figcaption Gossip Spa Boutique exterior


    .post-share.cf
      p.post-share__descr Do in laughter securing smallest sensible no mr hastened. As perhaps proceed in in brandon of limited unknown greatly. Distrusts fulfilled happiness unwilling as explained of difficult. No landlord of peculiar ladyship attended if contempt ecstatic. Loud wish made on is am as hard. Court so avoid in plate hence.


      ul.blog-post__meta.cf
        li
          span.flag jul 10, 2016
        li
          .post-meta
            span.view
              i.fa.fa-heart
              span 356
            span.comment
              i.fa.fa-comment
              span 12
        li
          span.author-post by Jane Tailor


      ul.social-list
        li
          a(href="#").fa-stack.fa-lg
            i.fa.fa-circle.fa-stack-2x
            i.icon.fa.fa-instagram.fa-stack-1x.fa-inverse
        li
          a(href="#").fa-stack.fa-lg
            i.fa.fa-circle.fa-stack-2x
            i.icon.fa.fa-facebook.fa-stack-1x.fa-inverse
        li
          a(href="#").fa-stack.fa-lg
            i.fa.fa-circle.fa-stack-2x
            i.icon.fa.fa-twitter.fa-stack-1x.fa-inverse
        li
          a(href="#").fa-stack.fa-lg
            i.fa.fa-circle.fa-stack-2x
            i.icon.fa.fa-google-plus.fa-stack-1x.fa-inverse
        li
          a(href="#").fa-stack.fa-lg
            i.fa.fa-circle.fa-stack-2x
            i.icon.fa.fa-pinterest.fa-stack-1x.fa-inverse
//           end post           /

//           = other-posts           /
.blog-post-other.cf
  a.blog-post-other__more(href="blog-post.html#section_post")
    i.fa.fa-angle-left
    p.blog-post-other__descr Enjoy our special Shiatsu massage promo deal!
  a.blog-post-other__more(href="blog-post.html#section_post")
    p.blog-post-other__descr 10 hair styling ideas for your unforgettable wedding
    i.fa.fa-angle-right

//           end other-posts           /