//           ¬ our clients           /
section#ourClients.our-clients.st-row.intro-bg.st-row--hr(style="background-image: url('#{path + 'images/upload/intro/testimonials.jpg'}')")

  .st-row__inner
    .overlay
    .our-clients__wrapper.container

      //           ¬ carousel           /
      #clientsCarousel.our-clients-carousel.owl-theme.owl-carousel
        .our-clients__item
          .our-clients__main
            blockquote
              h3 Outstanding service...
              p Spot to many it four bred soon well to. Or am promotion in no departure abilities. Whatever landlord yourself at by pleasure of children be.
              footer
                cite(title='Source Title') Stuart, valued cllient
          .our-clients__thumb
            img.img-responsive(src=path + 'images/upload/testimonials/avatar_1.jpg', alt="")

        .our-clients__item
          .our-clients__main
            blockquote
              h3 really love that spa salon...
              p Satisfied pretended mr on do determine by. Old post took and ask seen fact rich. Man entrance settling believed eat joy. Money as drift begin on to. Comparison up insipidity especially discovered me of decisively in surrounded. Points six way enough she its father.
              footer
                cite(title='Source Title') Jane Parker, valued cllient
          .our-clients__thumb
            img.img-responsive(src=path + 'images/upload/testimonials/avatar_2.jpg', alt="")

        .our-clients__item
          .our-clients__main
            blockquote
              h3 helpful and friendly staff...
              p Or neglected agreeable of discovery concluded oh it sportsman. Week to time in john. Son elegance use weddings separate. Ask too matter formed county wicket oppose talent. He immediate sometimes or to
              footer
                cite(title='Source Title') Mark Smith, valued cllient
          .our-clients__thumb
            img.img-responsive(src=path + 'images/upload/testimonials/avatar_3.jpg', alt="")



        .our-clients__item
          .our-clients__main
            blockquote
              h3 Outstanding service...
              p Spot to many it four bred soon well to. Or am promotion in no departure abilities. Whatever landlord yourself at by pleasure of children be.
              footer
                cite(title='Source Title') Stuart, valued cllient
          .our-clients__thumb
            img.img-responsive(src=path + 'images/upload/testimonials/avatar_1.jpg', alt="")

        .our-clients__item
          .our-clients__main
            blockquote
              h3 really love that spa salon...
              p Satisfied pretended mr on do determine by. Old post took and ask seen fact rich. Man entrance settling believed eat joy. Money as drift begin on to. Comparison up insipidity especially discovered me of decisively in surrounded. Points six way enough she its father.
              footer
                cite(title='Source Title') Jane Parker, valued cllient
          .our-clients__thumb
            img.img-responsive(src=path + 'images/upload/testimonials/avatar_2.jpg', alt="")

        .our-clients__item
          .our-clients__main
            blockquote
              h3 helpful and friendly staff...
              p Or neglected agreeable of discovery concluded oh it sportsman. Week to time in john. Son elegance use weddings separate. Ask too matter formed county wicket oppose talent. He immediate sometimes or to
              footer
                cite(title='Source Title') Mark Smith, valued cllient
          .our-clients__thumb
            img.img-responsive(src=path + 'images/upload/testimonials/avatar_3.jpg', alt="")


        .our-clients__item
          .our-clients__main
            blockquote
              h3 Outstanding service...
              p Spot to many it four bred soon well to. Or am promotion in no departure abilities. Whatever landlord yourself at by pleasure of children be.
              footer
                cite(title='Source Title') Stuart, valued cllient
          .our-clients__thumb
            img.img-responsive(src=path + 'images/upload/testimonials/avatar_1.jpg', alt="")

        .our-clients__item
          .our-clients__main
            blockquote
              h3 really love that spa salon...
              p Satisfied pretended mr on do determine by. Old post took and ask seen fact rich. Man entrance settling believed eat joy. Money as drift begin on to. Comparison up insipidity especially discovered me of decisively in surrounded. Points six way enough she its father.
              footer
                cite(title='Source Title') Jane Parker, valued cllient
          .our-clients__thumb
            img.img-responsive(src=path + 'images/upload/testimonials/avatar_2.jpg', alt="")

        .our-clients__item
          .our-clients__main
            blockquote
              h3 helpful and friendly staff...
              p Or neglected agreeable of discovery concluded oh it sportsman. Week to time in john. Son elegance use weddings separate. Ask too matter formed county wicket oppose talent. He immediate sometimes or to
              footer
                cite(title='Source Title') Mark Smith, valued cllient
          .our-clients__thumb
            img.img-responsive(src=path + 'images/upload/testimonials/avatar_3.jpg', alt="")
      //           end carousel           /


      //           ¬ control panel           /
      .control-panel
        button.control-panel__nav.prev: i.fa.fa-angle-left
        button.control-panel__nav.next: i.fa.fa-angle-right
        #our-clients-dots.control-panel__dots
      //           end control panel           /
//           end our clients           /