footer.page-footer
  .container
    .row
      //           ¬ page-footer__contacts           /
      .col-sm-6.col-md-4.col-lg-3
        h4.page-footer__title contacts
        ul.page-footer__list
          li
            a.rs-number(href="tel:+610883414603") +61 (08) 8341 4603
          li
            a.rs-mail(href="mailto:royal-spa@example.com") royal-spa@example.com
          li
            |“Gossip Spa Boutique”, 70 Gloucester avenue,
            br
            | Hindmarsh SA 5007, Australia

      //           end page-footer__contacts           /


      //           ¬ page-footer__instagram           /
      .col-sm-6.col-md-4.col-lg-3.page-footer__intstagram
        h4.page-footer__title instagram
        .instagram-top-list.cf
          a(href="#")
            img.img-responsive(src=path + "images/upload/instagram_1.jpg", alt="")
          a(href="#")
            img.img-responsive(src=path + "images/upload/instagram_2.jpg", alt="")
          a(href="#")
            img.img-responsive(src=path + "images/upload/instagram_3.jpg", alt="")
          a(href="#")
            img.img-responsive(src=path + "images/upload/instagram_4.jpg", alt="")
          a(href="#")
            img.img-responsive(src=path + "images/upload/instagram_5.jpg", alt="")
          a(href="#")
            img.img-responsive(src=path + "images/upload/instagram_6.jpg", alt="")

      //           end page-footer__instagram           /


      //           ¬ page-footer__twitter           /
      .col-sm-6.col-md-4.col-lg-3.page-footer__twitter
        h4.page-footer__title Twitter
        ul.twitter-posts.page-footer__list
          li
            i.fa.fa-twitter
            p That is a twitter post sample. Make sure you are following us #[a.link(href="#") @NetGon]
            a.date-twit(href="#") 10 July 2016
          li
            i.fa.fa-twitter
            p That is an another example of a twitter post.
            a.date-twit(href="#") 09 July 2016

      //           end page-footer__twitter           /


      //           ¬ page-footer__tags           /
      .col-sm-6.col-md-12.col-lg-3.page-footer__tags
        h4.page-footer__title Tags
        ul.blog-tags.cf.blog-tags--footer
          li
            a(href='#') luxury
          li
            a(href='#') spa
          li
            a(href='#') oil
          li
            a(href='#') treatment
          li
            a(href='#') therapy
          li
            a(href='#') stones
          li
            a(href='#') scents

      //           end page-footer__tags           /


  .page-footer__copyright
    .container
      | © 2016 Gossip Spa Boutique — Luxury Hotel & Spa HTML5 Template.
