//           = features           /
.hm-features
  .container-fluid
    .hm-features__row.row
      .hm-features__item.col-xs-6.col-sm-4
        figure.hm-features__icon
          img.svg.img-responsive(src=path + 'images/icons/hot-stone-massage.svg', alt="Massage")
        span.h2 Stone massage
      .hm-features__item.col-xs-6.col-sm-4
        figure.hm-features__icon
          img.svg.img-responsive(src=path + 'images/icons/relax.svg', alt="Relax")
        span.h2 Whirlpool
      .hm-features__item.col-xs-6.col-sm-4
        figure.hm-features__icon
          img.svg.img-responsive(src=path + 'images/icons/tool.svg', alt="Tool")
        span.h2 Aromatherapy
      .hm-features__item.col-xs-6.col-sm-6
        figure.hm-features__icon
          img.svg.img-responsive(src=path + 'images/icons/bottle.svg', alt="Bottle")
        span.h2 Oil massage
      .hm-features__item.col-xs-12.col-sm-6
        figure.hm-features__icon
          img.svg.img-responsive(src=path + 'images/icons/people.svg', alt="People")
        span.h2 Finnish sauna

//           end features           /