//           = gallery           /
section#gallerySection.hm-gallery-2
  header.hm-gallery-2__header.visible-xs
    h1 Signature Quality

  .panels-wrapper
    .container-fluid
      .row
        //           ¬ items           /
        .col-xs-12.col-sm-6.hm-gallery-2__slides.cf
          .hm-gallery-2__slides-inner
            .col-xs-4.hm-gallery-2__item
              a.hm-gallery-2__img-wrap.gallery-item-link(href="images/upload/full/image960x640.jpg")
                img.img-responsive(src=path + 'images/upload/gallery-home-2/item_1.jpg', alt="")
                .overlay
            .col-xs-4.hm-gallery-2__item
              a.hm-gallery-2__img-wrap.gallery-item-link(href="images/upload/full/image960x640.jpg")
                img.img-responsive(src=path + 'images/upload/gallery-home-2/item_2.jpg', alt="")
                .overlay
            .col-xs-4.hm-gallery-2__item
              a.hm-gallery-2__img-wrap.gallery-item-link(href="images/upload/full/image960x640.jpg")
                img.img-responsive(src=path + 'images/upload/gallery-home-2/item_3.jpg', alt="")
                .overlay
            .col-xs-4.hm-gallery-2__item
              a.hm-gallery-2__img-wrap.gallery-item-link(href="images/upload/full/image960x640.jpg")
                img.img-responsive(src=path + 'images/upload/gallery-home-2/item_4.jpg', alt="")
                .overlay
            .col-xs-4.hm-gallery-2__item
              a.hm-gallery-2__img-wrap.gallery-item-link(href="images/upload/full/image960x640.jpg")
                img.img-responsive(src=path + 'images/upload/gallery-home-2/item_5.jpg', alt="")
                .overlay
            .col-xs-4.hm-gallery-2__item
              a.hm-gallery-2__img-wrap.gallery-item-link(href="images/upload/full/image960x640.jpg")
                img.img-responsive(src=path + 'images/upload/gallery-home-2/item_6.jpg', alt="")
                .overlay
        //           end items           /

        //           ¬ panel-board           /
        .col-xs-12.col-sm-6
          article.panel-board.panel-board--right
            header
              .h1.panel-board__title.hidden-xs Signature Quality

            .panel-board__main
              .list-type
                h3 All Gossip Spa Boutique rooms have:
                ul
                  li
                    i.icon-bullet
                    | Silent air conditioner
                  li
                    i.icon-bullet
                    | Billiard table (playballs are provided for rent)
                  li
                    i.icon-bullet
                    | Pool or garden view
                  li
                    i.icon-bullet
                    | 52″ cable TV
                  li
                    i.icon-bullet
                    | Living kit (with everyday replrenish)

            footer.panel-board__bottom
              button.btn.btn--darker(data-toggle="modal", data-target="#modal-inquiry") reservation inquiry
        //           end panel-board           /


//           end gallery           /